In [1]:
import plotly
import pandas as pd
import numpy as np
from pathlib import Path
import os

In [2]:
path_to_download_folder = str(os.path.join(Path.home(), "Downloads"))

In [59]:
admit = pd.read_csv(os.path.join(path_to_download_folder, "Admit.csv"))

In [64]:
admit.head()

,row_id,subject_id,hadm_id,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,language,religion,marital_status,ethnicity,edregtime,edouttime,diagnosis,hospital_expire_flag,has_chartevents_data
0,21,22,165315,2196-04-09 12:26:00.000,2196-04-10 15:54:00.000,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,DISC-TRAN CANCER/CHLDRN H,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2196-04-09 10:06:00.000,2196-04-09 13:24:00.000,BENZODIAZEPINE OVERDOSE,0,1
1,22,23,152223,2153-09-03 07:15:00.000,2153-09-08 19:10:00.000,NaN,ELECTIVE,PHYS REFERRAL/NORMAL DELI,HOME HEALTH CARE,Medicare,NaN,CATHOLIC,MARRIED,WHITE,NaN,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,0,1
2,23,23,124321,2157-10-18 19:34:00.000,2157-10-25 14:00:00.000,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME HEALTH CARE,Medicare,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,BRAIN MASS,0,1
3,24,24,161859,2139-06-06 16:14:00.000,2139-06-09 12:48:00.000,NaN,EMERGENCY,TRANSFER FROM HOSP/EXTRAM,HOME,Private,NaN,PROTESTANT QUAKER,SINGLE,WHITE,NaN,NaN,INTERIOR MYOCARDIAL INFARCTION,0,1
4,25,25,129635,2160-11-02 02:06:00.000,2160-11-05 14:55:00.000,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,UNOBTAINABLE,MARRIED,WHITE,2160-11-02 01:01:00.000,2160-11-02 04:27:00.000,ACUTE CORONARY SYNDROME,0,1

Check to find the top 10 most common reasons for ER admission.

In [11]:
admits = admit['diagnosis'].value_counts()

In [18]:
admits.head(10)

NEWBORN                                                      7823
PNEUMONIA                                                    1566
SEPSIS                                                       1184
CONGESTIVE HEART FAILURE                                      928
CORONARY ARTERY DISEASE                                       840
CHEST PAIN                                                    778
INTRACRANIAL HEMORRHAGE                                       713
ALTERED MENTAL STATUS                                         712
GASTROINTESTINAL BLEED                                        686
CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS GRAFT /SDA     583
Name: diagnosis, dtype: int64

In [86]:
admit['ethnicity'].value_counts()

WHITE                                                       40996
BLACK/AFRICAN AMERICAN                                       5440
UNKNOWN/NOT SPECIFIED                                        4523
HISPANIC OR LATINO                                           1696
OTHER                                                        1512
ASIAN                                                        1509
UNABLE TO OBTAIN                                              814
PATIENT DECLINED TO ANSWER                                    559
ASIAN - CHINESE                                               277
HISPANIC/LATINO - PUERTO RICAN                                232
BLACK/CAPE VERDEAN                                            200
WHITE - RUSSIAN                                               164
MULTI RACE ETHNICITY                                          130
BLACK/HAITIAN                                                 101
ASIAN - ASIAN INDIAN                                           85
WHITE - OTHER EUROPEAN                                         81
HISPANIC/LATINO - DOMINICAN                                    78
PORTUGUESE                                                     61
WHITE - BRAZILIAN                                              59
ASIAN - VIETNAMESE                                             53
AMERICAN INDIAN/ALASKA NATIVE                                  51
BLACK/AFRICAN                                                  44
MIDDLE EASTERN                                                 43
HISPANIC/LATINO - GUATEMALAN                                   40
ASIAN - FILIPINO                                               25
WHITE - EASTERN EUROPEAN                                       25
HISPANIC/LATINO - CUBAN                                        24
HISPANIC/LATINO - SALVADORAN                                   19
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                      18
ASIAN - CAMBODIAN                                              17
ASIAN - OTHER                                                  17
HISPANIC/LATINO - MEXICAN                                      13
HISPANIC/LATINO - CENTRAL AMERICAN (OTHER)                     13
ASIAN - KOREAN                                                 13
HISPANIC/LATINO - COLOMBIAN                                     9
CARIBBEAN ISLAND                                                9
SOUTH AMERICAN                                                  8
ASIAN - JAPANESE                                                7
HISPANIC/LATINO - HONDURAN                                      4
ASIAN - THAI                                                    4
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE        3
Name: ethnicity, dtype: int64

Take a look at the top admit reasons for each race.

In [82]:
def ethnicity_admit(admit, ethnicity):
    ethnicity = admit[admit['ethnicity'] ==  ethnicity].groupby(['diagnosis']).size()
    ethnicity = ethnicity.reset_index()
    ethnicity["Percentage"] = ethnicity[0]/ethnicity[0].sum()
    ethnicity = ethnicity.sort_values(by = "Percentage", ascending= False).head(5)
    
    return(ethnicity)

In [85]:
ethnicity_admit(admit, 'WHITE')

                      diagnosis     0  Percentage
7683                    NEWBORN  4755    0.116046
8365                  PNEUMONIA  1166    0.028456
10149                    SEPSIS   864    0.021086
3113   CONGESTIVE HEART FAILURE   614    0.014985
2522                 CHEST PAIN   575    0.014033

In [87]:
ethnicity_admit(admit, "BLACK/AFRICAN AMERICAN")

                     diagnosis    0  Percentage
1151                   NEWBORN  865    0.159037
419   CONGESTIVE HEART FAILURE  176    0.032359
499      DIABETIC KETOACIDOSIS  165    0.030336
1234                 PNEUMONIA  164    0.030153
1504                    SEPSIS  137    0.025188

In [88]:
ethnicity_admit(admit, "ASIAN")

                   diagnosis    0  Percentage
318                  NEWBORN  715    0.474453
339                PNEUMONIA   38    0.025216
217       HYPERBILIRUBINEMIA   31    0.020571
408                   SEPSIS   19    0.012608
247  INTRACRANIAL HEMORRHAGE   15    0.009954

In [89]:
ethnicity_admit(admit, "UNKNOWN/NOT SPECIFIED")

                                              diagnosis    0  Percentage
1183                                            NEWBORN  437    0.096639
555                             CORONARY ARTERY DISEASE  185    0.040911
625   CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...  115    0.025431
433                                     CHEST PAIN\CATH   71    0.015701
616                        CORONARY ARTERY DISEASE\CATH   68    0.015038

Looking at the top 20 diseases by length of stay (in days).

In [121]:
admit['staylength']= pd.to_datetime(admit['dischtime']) - pd.to_datetime(admit['admittime'])

In [122]:
admit['staylength'] = pd.to_timedelta(admit.staylength).dt.total_seconds()
# Convert seconds to days
admit['staylength'] = admit['staylength']/(24*60*60)

In [124]:
average_stay = admit[['staylength', 'diagnosis']].groupby(['diagnosis']).mean()
average_stay.sort_values(by = 'staylength', ascending  = False).head(20)

                                                    staylength
diagnosis
CROHN'S DISEASE;ABDOMINAL FISTULA                   294.660417
ASPIRATION; FAILURE TO THRIVE                       191.422917
CHRONIC LYMPHOCYTIC LEUKEMIA\BONE MARROW TRANSP...  169.187500
L THIGH FLUID COLLECTION                            166.906944
AMC;FEVER                                           164.365972
S/P LIVER TX-NAUSEA-VOMITING                        137.965278
APLASTIC ANEMIA;PANCYTOPENIA                        137.891667
PULMONARY EMBOLISM;SUBDURAL HEMATOMA                131.970833
ACUTE MYELOGENOUS LEUKEMIA;CHEMOTHERAPY             129.960417
MULTIPLE MYELOMA;FEVER;NEUTROPENIA                  129.035417
MYELODYSPLASIA;BONE MARROW TRANSPLANT/SDA           126.270833
RT CEREBELLAR BLEED                                 125.489583
FACIAL NUMBNESS                                     123.984722
LARGE ABDOMINAL FISTULA                             123.687500
ELEVATED WHITE BLOOD COUNT                          118.701389
SMALL BOWEL FISTULA                                 115.968750
TRACHEAL BRONCHIAL MALACIA\ BRONCHOSCOPY W/"Y" ...  107.000000
INFECTED LEG                                        106.831944
FOUND DOWN,SUB DURAL HEMATOMA                       104.179167
UTI;ABDOMINAL PAIN                                  102.802778